@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* 侧边栏整体重置一下滚动条样式，让它更美观 */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}
